body {
  margin: 0;
}

#header{
    background-color: gray;
    margin-top: 0;
    width: 100vw;
    height: 20vh;
}

.leftSide{
    background-color: darkgrey;
    width: 20vw;
    height: 350vh;
}

.rightSide{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 146px;
    background-color: darkgrey;
    width: 20vw;
    height: 350vh;
}


#footer{
  background-color: gray;
  margin-left: 250px;
  width: 60vw;
  height: 20vh;
}